html {
    font-size: .9em;
    color:red;
    text-decoration: none; 
    
    margin: 0; 
    padding: 0; 
}


nav {
    height: 100vh;
    background-color: paleturquoise; 
    display: flex; 
    flex-direction: column-reverse;
    align-items: flex-end;     
    border: 1px solid red;  

    ul { 
        display: flex; 
        flex-direction: column;
         

        
        li {
            list-style: none; 
            text-align: right;
            padding: 1em; 
        
            a {
                text-decoration: none; 
                color: black; 
                font-size: 1.5em;
                font-family: Verdana, Geneva, Tahoma, sans-serif; 
                font-weight: 600; 
                letter-spacing: .05em; 
                
            }

        }
    }
}
